<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <nav>
        <ul>
          <li><a href="gravy-blog.html">Gravy Blog</a></li>
          <li><a href="gravy-club.html">On the gravy train</a></li>
          <li><a href="gravy-gatherings.html">Gravy Gatherings</a></li>
          <li><a href="gravy-past.html">Test of time with the Gravy</a></li>
          <li><a href="gravy-winner.html">Recipe of the week</a></li>
          <li><a href="index.html">Home</a></li>
        </ul>
      </nav>
</head>
<h1 id="main-header">DO YOU HAVE A SOCIAL GATHERING OR WANT TO BRANCH OUT TO YOUR FELLOW GRAVY LOVERS?</h1>
<h2>Please submit form here and we will review and see what we can do to assist you</h2>
<p>Below you will find our tip of the day!</p>
<label for="freeform">Tell us how you heard about HubSpot:</label>
<br> 
<textarea id="freeform" name="freeform" rows="4" cols="50"></textarea>
<body>

</body>
</html>