<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div id="first-half">
<h1 id="main-header">FIND YOUR LOCAL GRAVY LOVERS</h1>
<h2>Enter city here</h2>
<textarea id="city" name="freeform"></textarea>
<p>Below you will find our tip of the day!</p>
</div>

<div id="second-half">
    <h1 id="main-header">Want to join the Gravy Club?</h1>
    <h2>Please fill out form below</h2>
    <textarea id="city" name="freeform"></textarea>
    <p>Below you will find our tip of the day!</p>
    </div>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
</body>
</html>