<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <nav>
        <ul>
          <li><a href="gravy-blog.html">Gravy Blog</a></li>
          <li><a href="gravy-club.html">On the gravy train</a></li>
          <li><a href="gravy-gatherings.html">Gravy Gatherings</a></li>
          <li><a href="gravy-past.html">Test of time with the Gravy</a></li>
          <li><a href="gravy-winner.html">Recipe of the week</a></li>
          <li><a href="index.html">Home</a></li>
        </ul>
      </nav>
</head>
<div id="first-half">
<h1 id="main-header">FIND YOUR LOCAL GRAVY LOVERS</h1>
<h2>Enter city here</h2>
<textarea id="city" name="freeform"></textarea>
<p>Below you will find our tip of the day!</p>
</div>

<div id="second-half">
    <h1 id="main-header">Want to join the Gravy Club?</h1>
    <h2>Please fill out form below</h2>
    <textarea id="city" name="freeform"></textarea>
    <p>Below you will find our tip of the day!</p>
    </div>
<body>

</body>
</html>