<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/cssandjs/style.css}" rel="stylesheet"/>
</head>
<h1 id="main-header">This week's winner!</h1>
<h1 id="winner">xy@gravydelight.com</h1>
<img height="300px" width="300px" th:src="@{images/charlize.jpg}"/>
<container>Here you will see xy@gravydelight.com recipe/t 1 chicken stock cube / bouillon cube (sub 2 tsp powder) (Note 1)
    ▢1 beef stock cube / bouillon cube (sub 2 tsp powder) (Note 1)
    ▢2 1/4 cups (565ml) boiling water
    ▢60g/ 4 tbsp butter , unsalted
    ▢4 tbsp flour , plain / all purpose
    ▢1/2 tsp onion powder (ok to omit or sub garlic powder)
    ▢1/4 tsp finely ground black pepper
    ▢Salt , if needed
    Instructions
    
    Crumble cubes into boiling water, mix to dissolve.
    Melt butter in a saucepan over medium heat.
    Add flour, onion powder and pepper. Mix into butter with a wooden spoon or whisk.
    While stirring, slowly pour in half the liquid. Once incorporated into the flour butter roux (it will thicken quickly), add remaining liquid and mix.
    Stir for 1.5 – 2 minutes until it thickens to a gravy consistency (it's quick as water is already hot). Taste, add more salt and pepper if needed.
    Serve over chops, steak, sausages, veggies, roast chicken, pork, beef, lamb. Pictured – KFC Potato and Gravy copycat!</container>
<h2>See their recipe today!</h2>
<p>Below you will find our tip of the day!</p>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
</body>
</html>