<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/cssandjs/style.css}" rel="stylesheet" />
</head>
<h1 id="main-header">Share your recipes, thoughts, stories all about gravy here! and we will process and get them ready.</h1>
<p>Stuff for gravy</p>
<form action ="#" th:action="@{/addGravyRecipe}" th:object="${gr}" method="post">

    <label path="gravyRecipe">Gravy Recipe</label>
        <input type="text" name="gravyRecipe">
        <input type="submit" value="Submit"/>
</form>


<p>Below you will find our tip of the day!</p>

<p id="thick">The more you let it sit, the Thicker it gets!</p>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
</body>
</html>
