<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <nav>
        <ul>
          <li><a href="gravy-blog.html">Gravy Blog</a></li>
          <li><a href="gravy-club.html">On the gravy train</a></li>
          <li><a href="gravy-gatherings.html">Gravy Gatherings</a></li>
          <li><a href="gravy-past.html">Test of time with the Gravy</a></li>
          <li><a href="gravy-winner.html">Recipe of the week</a></li>
          <li><a href="index.html">Home</a></li>
        </ul>
      </nav>
</head>
<h1 id="past-main-header">Gravy's Past</h1>
<p>Almost a timeless recipe, Gravy goes back hundreds of years. In reference to Encyclopedia.com, the soonest incident of gravy was known in The Forme of Cury, 
    which is an inventory of medieval English recipes from 1390. </p>
<br>
<br>
<p>Over time, Americans and English people began adding a roux to the gravy in order to make it thicker. That was the evolution
    of the gravy we know and love began!</p>
<h1 id="present-main-header">Gravy's Present</h1>
<p>Please see this week's selected article: </p>
<p></p>
<a href="https://www.sacurrent.com/food-drink/wtf-food-news-digiorno-selling-turkey-and-gravy-topped-thanksgiving-pizza-32987753">"WTF Food News: DiGiorno selling turkey and gravy-topped Thanksgiving pizza" by Nina Rangel on Wed, Nov 1, 2023 at 9:58 am</a>
<h1 id="future-main-header">Gravy's Future</h1>
<p>Search our whole website to find out the fate of Gravy!</p>
<p>You may post any recipes or thoughts you have on gravy there!</p>
<body>

</body>
</html>