<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h1 id="main-header">DO YOU HAVE A SOCIAL GATHERING OR WANT TO BRANCH OUT TO YOUR FELLOW GRAVY LOVERS?</h1>
<h2>Please submit form here and we will review and see what we can do to assist you</h2>
<p>Below you will find our tip of the day!</p>
<label for="freeform">Tell us how you heard about HubSpot:</label>
<br> 
<textarea id="freeform" name="freeform" rows="4" cols="50"></textarea>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
</body>
</html>